/* This is the global CSS file for the whole application */
/* As the file grows large, editing colors in 1 place is easier. */
/*
:root {
    --main-txt-clr: #FFF;
    --main-bg-color: #479;
    --alt-bg-color: #EEE;
    --alt-txt-clr: #222;
    --alt-bg-color: #EEE;
    --main-link-clr: #FFF;
    --alt-link-clor: #235;
    --box-border-clr: #FFF;
    --box-bg-color: #444;
    --box-shadow-clr: #000;
    --cancel-clr: #A00;
    --cancel-alt-clr: #DDD;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-txt-clr);
    text-align: center;
}

button {
    cursor: pointer;
}

main {
    background-color: var(--alt-bg-color);
    border-radius: 10px;
    margin: 100px auto;
    text-align: center;
    padding: 10px;
    max-width: 1000px;
    color: var(--alt-txt-clr);
    box-shadow: 2px 2px 2px #FFF, inset 2px 2px 2px #235;
}

nav a {
    margin: 5px;
}

nav a:link, nav a:visited {
    color: var(--main-link-clr);
    text-decoration: underline;
    font-weight: bold;
}

.body-content {
    display: block;
    max-width: 800px;
    min-height: 100px;
    background-color: var(--alt-bg-color);
    border-radius: 7px;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 0px 0px 15px var(--box-shadow-clr);
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: RGBA(0, 0, 0, 0.4);
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    min-width: 400px;
    min-height: 100px;
    background-color: var(--alt-bg-color);
    color: var(--alt-txt-clr);
    border-radius: 10px;
    padding: 10px;
    margin: 100px auto;
    cursor: default !important;
    box-shadow: 0px 0px 10px var(--box-shadow-clr);
}

.hidden {
    display: none;
}

.modal.status-message {
    color: var(--alt-txt-clr);
}

.modal-x-separator {
    margin-top: 22px;
}

.close-modal-x {
    background-color: var(--cancel-alt-clr);
    position: absolute;
    top: 6px;
    right: 7px;
    border-radius: 8px;
}

.close-modal-x:hover {
    background-color: var(--cancel-clr);
}

.label-wrapper.single label {
    display: block;
    text-align: right;
    width: 400px;
    margin: 10px auto;
}

.label-wrapper.single label input {
    width: 150px;
}

.clickable {
    cursor: pointer;
}

[data-action='toggleElement'] {
    cursor: pointer;
}

[data-action='toggleElement']:hover {
    text-decoration: underline overline;
}


*/
.login-status-nav{
    position:fixed;
    top:10px;
    right: 10px;
    text-align: right;
}

:root {
    --teal-50: #E6FFFA;
    --teal-100: #B2F5EA;
    --teal-200: #81E6D9;
    --teal-300: #4FD1C5;
    --teal-400: #38B2AC;
    --teal-500: #319795;
    --teal-600: #2C7A7B;
    --teal-600: #285E61;
    --teal-600: #234E52;
    --teal-600: #1D4044;
    --shadow-1: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    --shadow-2: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --nav-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  

.hidden {
    display: none;
}

.nav-spacing {
    height: 64px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main-content-home {
    margin-top: 240px;
    min-height: 100%;
}

html,
body {
    min-height: 100%;
    font-family: 'Rubik', sans-serif;
    overflow: auto;
    background-color: var(--teal-50);
}

.font {
    font-family: 'Rubik', sans-serif;
}

.h-font {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.main-page-content {
    min-height: 100%;
    margin-top: 64px;
}

.main-content-product {
    margin-top: 64px;
    min-height: 100%;
}

.nav-color {
    background-color: var(--teal-500);
    box-shadow: var(--nav-shadow);
}

.nav-letter {
    letter-spacing: 1px; 
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: RGBA(0, 0, 0, 0.4);
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.modal-content {
    position: relative;
    min-width: 400px;
    min-height: 100px;
    max-width: 400px;
    background-color: var(--teal-400);
    color: var(--alt-txt-clr);
    border-radius: 10px;
    padding: 10px;
    margin: 100px auto;
    cursor: default !important;
    box-shadow: 0px 0px 10px var(--box-shadow-clr);
    overflow-y: scroll;
}



