<div class="card">
    <div class="container d-flex justify-content-center">
        <strong>{{title}}</strong><br>
    </div>
    <div class="container d-flex justify-content-center">
        <strong>{{{dollarPrice}}} ({{{euroPrice}}})</strong>
    </div>
    <br>
    {{#image_url}}
    <img src="{{image_url}}" data-action="viewProduct" class="tiny-thumb cursor" alt="product: {{title}}"
        data-id="{{id}}" data-partial="single-product">
    {{/image_url}}
    {{^image_url}}
    <img src="https://www.opelgtsource.com/assets/default_product.png" data-action="viewProduct" class="tiny-thumb cursor" alt="product: {{title}}"
        data-id="{{id}}" data-partial="single-product">
    {{/image_url}}
    <p class="p-3">
        <strong>Description:</strong> <br />{{description}}
    </p>
    {{#user.admin}}
    <p>
        
        <div class="container d-flex justify-content-center">
        <button class="delete-button btn btn-danger justify-content-center" type="button" data-action="deleteProduct" data-id="{{id}}">DELETE THIS PRODUCT FOREVER!</button>
    </div>
    </p>
    <hr>
    <button class="btn btn-primary" type="button" data-action="toggleElement" data-for="#UpdateProductForm">Update
        Product</button>
    <div id="UpdateProductForm" class="hidden detail-form">
        <form data-action="updateProduct" style="height:300px;overflow:auto;">
            <input type="hidden" name="id" value="{{id}}" />
            <!-- <input type="hidden" name="tags" value="{{tags}}" />
            <input type="hidden" name="limit" value="{{limit}}" /> -->
            <div>
                <label class="p-2">Title:<input class="form-control" type="text" name="title" maxlength="100" size="30" value="{{title}}"></label>
            </div>
            <div>
                <label class="p-2">Price:<input class="form-control" type="number" name="price" maxlength="100" size="30" value="{{price}}"></label>
            </div>
            <div>
                <label class="p-2">Desc.:<input class="form-control" type="text" name="description" maxlength="100" size="30"
                        value="{{description}}"></label>
            </div>
            <div>
                <label class="p-2">Image URL:<input class="form-control" type="text" name="image_url" maxlength="100" size="30"
                        value="{{image_url}}"></label>
            </div>
            <div>
                <label class="p-2">Tags:<input class="form-control" type="text" name="tags" maxlength="100" size="30"
                        value="{{tags}}"></label>
            </div>
            <div>
                <label class="p-2">Limit:<input class="form-control" type="number" name="limit" maxlength="100" size="30"
                        value="{{limit}}" required></label>
            </div>
            <hr />
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    {{/user.admin}}
    
</div>